<header class="header">
  <div class="container header__container">
    <div class="logo">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="114px" height="13px">
        <text kerning="auto" font-family="Tavolga-free" fill="rgb(0, 0, 0)" font-size="18px" x="0px" y="13px">
          <tspan font-size="18px" font-family="Tavolga-free" fill="#FFFFFF">MACAROONS</tspan>
        </text>
      </svg>
    </div>
    <div class="header__burger" (click)="clickBurgerMenu(menu)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="40px" height="22px">
        <path fill-rule="evenodd" fill="rgb(130, 19, 40)"
              d="M0.000,-0.000 L39.1000,-0.000 L39.1000,2.000 L0.000,2.000 L0.000,-0.000 Z"/>
        <path fill-rule="evenodd" fill="rgb(130, 19, 40)"
              d="M0.000,10.000 L39.1000,10.000 L39.1000,12.000 L0.000,12.000 L0.000,10.000 Z"/>
        <path fill-rule="evenodd" fill="rgb(130, 19, 40)"
              d="M0.000,19.1000 L39.1000,19.1000 L39.1000,21.1000 L0.000,21.1000 L0.000,19.1000 Z"/>
      </svg>
    </div>
    <nav class="menu" #menu>
      <div class="close" (click)="clickBurgerMenu(menu)">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
<g>
	<g>
		<path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
			c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
			c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
			L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
			c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
			c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
			c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"/>
	</g>
</g>
</svg>
      </div>
      <ul class="menu__list" (click)="clickBurgerMenu(menu)">
        <li class="menu__item">
          <a href="#" class="menu__link" (click)="scrollTo(macaroonsElement)">Пироженки</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link" (click)="scrollTo(advantagesElement)">О нас</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link" (click)="scrollTo(orderElement)">Оформить заказ</a>
        </li>
      </ul>
    </nav>
    <div class="contacts-block header__contacts-block">
      <span class="header__contacts-span">{{phone}}</span>
    </div>
  </div>
</header>
<section class="main">
  <div class="container main__container">
    <div class="main__title">
      Мягкие французские пироженки Macaroons
    </div>
    <div class="main__description">
      Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
    </div>
    <div class="main__actions">
      <button class="btn main__btn" (click)="scrollTo(macaroonsElement)">Выбрать макарун</button>
    </div>
    <div class="main__image">
      <img src="assets/images/main-image.png" alt="Макарунчики" class="main__image-img">
    </div>
  </div>
</section>

<section class="advantage" #advantagesElement id="advantagesElement">
  <div class="container advantage__container">
    <div class="advantage__title">
      Мы печём для вас вкуснейшие макаруны уже более 10 лет
    </div>
    <div class="advantage__description">
      Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов, ароматизаторов,
      красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей, маргарина, разрыхлителей и
      улучшителей муки.
    </div>
    <div class="advantage__image">
      <img src="assets/images/advantages-block-image.png" alt="Macaroon" class="advantage__image-img">
    </div>
    <div class="advantage-items">
      <div class="advantage-item" *ngFor="let advantage of advantages; let i=index;">
        <div class="advantage-item__circle">
          <span class="advantage-item__circle-text">{{i + 1}}</span>
        </div>
        <div class="advantage-item__title">{{advantage.title}}</div>
        <div class="advantage-item__description">{{advantage.description}}</div>
      </div>
    </div>
  </div>
</section>

<section class="products-block" #macaroonsElement id="macaroonsElement">
  <div class="container products-block__container">
    <div class="products-block__title">Выберите свой макарун</div>
    <div class="product-items">
      <div class="product-item" *ngFor="let macaroon of macaroons; let i=index;">
        <div class="product-item__image">
          <img src="assets/images/{{i+1}}.png" alt="Product macaroon {{i+1}}" class="product-item__image-img">
        </div>
        <div class="product-item__title">{{macaroon.name}}</div>
        <div class="product-item__info">
          <div class="product-item__characteristics">
            <span class="product-item__quantity">1 шт.</span>
            <span class="product-item__cost">{{macaroon.cost}}</span>
          </div>
          <div class="product-item__action">
            <button class="btn product-item__button" (click)="addToCart(macaroon, orderElement)">Заказать</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="order-block" #orderElement>
  <div class="container order-block__container">
    <div class="order-block__image">
      <img class="order-block__image-img" src="assets/images/order-block__main-image.png" alt="Macaroons">
    </div>
    <div class="order-block__title">
      Закажите макарун!
    </div>
    <div class="order-block__description">
      Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
    </div>
    <div class="order-block__order-form">
      <label class="base-label order-block__choose-label">Ваш выбор</label>
      <div class="input-block">
        <input type="text" class="base-input order-form__choose-input"
               placeholder="Напишите, что хотите заказать..." [(ngModel)]="formData.macaroon">
        <span class="invalid-feedback" *ngIf="invalidFormSpans.macaroon">Выберите макарун</span>
      </div>
      <label class="base-label order-block__order-info-label">Заполните данные для заказа</label>
      <div class="input-block">
        <input type="text" class="base-input order-form__info-input" placeholder="Ваше имя" [(ngModel)]="formData.name">
        <span class="invalid-feedback" *ngIf="invalidFormSpans.name">Введите ваше имя</span>
      </div>
      <div class="input-block">
        <input type="text" class="base-input order-form__info-input" placeholder="+375 (__) ___ - __ - __"
               [(ngModel)]="formData.phone">
        <span class="invalid-feedback" *ngIf="invalidFormSpans.phone">Введите ваш телефон</span>
      </div>
      <button class="btn order-block__button" (click)="createOrder()">Оформить заказ</button>
    </div>
    <div class="strawberry-left-image">
      <img src="assets/images/strawberry-left.png" alt="Strawberry" class="strawberry-left-image-img">
    </div>
    <div class="strawberry-right-image">
      <img src="assets/images/strawberry-right.png" alt="Strawberry">
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container footer__container">
    <div class="logo footer__logo">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="114px" height="13px">
        <text kerning="auto" font-family="Tavolga-free" fill="rgb(0, 0, 0)" font-size="18px" x="0px"
              y="13px">
          <tspan font-size="18px" font-family="Tavolga-free" fill="#FFFFFF">MACAROONS</tspan>
        </text>
      </svg>
    </div>
    <div class="footer__copyrights">Все права защищены, 2020</div>
    <div class="footer__socials-block">
      <svg class="footer__socials-svg" id="Bold" enable-background="new 0 0 24 24" height="512"
           viewBox="0 0 24 24" width="512"
           xmlns="http://www.w3.org/2000/svg">
        <path
          d="m12.004 5.838c-3.403 0-6.158 2.758-6.158 6.158 0 3.403 2.758 6.158 6.158 6.158 3.403 0 6.158-2.758 6.158-6.158 0-3.403-2.758-6.158-6.158-6.158zm0 10.155c-2.209 0-3.997-1.789-3.997-3.997s1.789-3.997 3.997-3.997 3.997 1.789 3.997 3.997c.001 2.208-1.788 3.997-3.997 3.997z"/>
        <path
          d="m16.948.076c-2.208-.103-7.677-.098-9.887 0-1.942.091-3.655.56-5.036 1.941-2.308 2.308-2.013 5.418-2.013 9.979 0 4.668-.26 7.706 2.013 9.979 2.317 2.316 5.472 2.013 9.979 2.013 4.624 0 6.22.003 7.855-.63 2.223-.863 3.901-2.85 4.065-6.419.104-2.209.098-7.677 0-9.887-.198-4.213-2.459-6.768-6.976-6.976zm3.495 20.372c-1.513 1.513-3.612 1.378-8.468 1.378-5 0-7.005.074-8.468-1.393-1.685-1.677-1.38-4.37-1.38-8.453 0-5.525-.567-9.504 4.978-9.788 1.274-.045 1.649-.06 4.856-.06l.045.03c5.329 0 9.51-.558 9.761 4.986.057 1.265.07 1.645.07 4.847-.001 4.942.093 6.959-1.394 8.453z"/>
        <circle cx="18.406" cy="5.595" r="1.439"/>
      </svg>
      <div class="footer__socials-text"><span>{{instagramLink}}</span></div>
    </div>
    <div class="contacts-block footer__contacts-block">
      <span class="header__contacts-span">{{phone}}</span>
    </div>
  </div>
</footer>
<div class="present-block" *ngIf="showPresent">
  <div class="present-block__circle">
    <img src="assets/images/present.png" alt="Present" class="present-block__circle-img">
  </div>
  <div class="present-block__phrase">
    <div class="present-block__phrase-text">
      Оформите заказ и получите подарок!
    </div>
    <svg class="present-block__triangle"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         width="13px" height="20px">
      <path fill-rule="evenodd" fill="rgb(254, 239, 238)"
            d="M12.621,9.946 L0.779,19.832 L0.779,0.060 L12.621,9.946 Z"/>
    </svg>
    <svg class="present-block__triangle-border"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         width="18px" height="28px">
      <path fill-rule="evenodd" stroke="rgb(119, 10, 29)" stroke-width="2px" stroke-linecap="butt"
            stroke-linejoin="miter" fill="rgb(254, 239, 238)"
            d="M15.508,13.401 L1.692,25.264 L1.692,1.538 L15.508,13.401 Z"/>
    </svg>
  </div>
</div>
